html, body {
    background-color: rgb(214, 214, 214);
    margin: 0;
    padding: 0;
}
header.top-header {
    background-color: rgb(0, 0, 0);
}
.maintext {
    size: 2cm;
    color: white;
    padding: 15px;
    display: inline-block;
    text-decoration: none
}

.foot {
    background-color: rgb(136, 135, 135);
    padding: 20px;
    text-align: center;
}

.main {
    max-width: 700px;
    margin: auto;
}

.box {
    background-color: white;
    padding: 20px;
    margin: 30px;
}

.text {
    display: inline-block;
    text-decoration: none

}
